@charset "UTF-8";
/* CSS Document */

body.login {
	background-color: #FFFFFF;
}
body.login div#login {
	width: 90%;
	max-width: 326px;
}
body.login div#login #nav a, body.login div#login #backtoblog a {
	color: #000000;
}
body.login div#login #nav a:hover, body.login div#login #backtoblog a:hover {
	color: #002A80;
}
body.login div#login h1 a {
	background-size: contain;
	background-position: center bottom;
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
}
body.login div#login form, body.login div#login .message {
	background-color: #002A80;
	color: #ffffff !important;
}
body.login label {
	color: #ffffff;
}
.wp-core-ui .button-primary {
	border-color: #002A80 !important;
	-webkit-box-shadow: inset 0 1px 0 rgba(78, 78, 78 0.5),0 1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 1px 0 rgba(78, 78, 78 0.5),0 1px 0 rgba(0, 0, 0, 0.15);
	background-color: #990000 !important;
	background: #990000 !important;
}