@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
body {
	margin: 0px;
	padding: 0px;
	background-color: #DFE4E8;
	font-size: 16px;
	line-height: 1.25em;
	color: #000000;
	font-family: Helvetica, Arial, sans-serif;
	background-image: url(../images/bg_gradient.png);
	background-repeat: repeat-x;
	background-position: top;
}
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}
a:link {
	color: #990000;
	text-decoration: underline;
}
a:visited {
	color: #990000;
	text-decoration: underline;
}
a:active {
	color: #990000;
	text-decoration: underline;
}
a:hover {
	color: #333333;
	text-decoration: underline;
}
hr {
	border-top-color: #000;

}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
h1 {
	font-size: 1.75em;
	line-height: 1.1em;
}
h2 {
	font-size: 1.5em;
	line-height: 1.1em;
}
h3 {
	font-size: 1.375em;
	line-height: 1.1em;
}
h4 {
	font-size: 1.25em;
	line-height: 1.1em;
}
h5 {
	font-size: 1.125em;
	line-height: 1.1em;
}
h6 {
	font-size: 1em;
	line-height: 1.1em;
}
.popup_header {
	font-size: 1.25em;
	line-height: 1.1em;
	margin-top: 0px !important;
	font-weight: bold;
	color: #002883;
}
/* Entry and Page Titles */
h1.pagetitle {
}
h1.entry-title, h1.page-title {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
	font-weight: 100;
}
.post h1.entry-title {
	margin-bottom: 0px;
}
h2.entry-title {
	margin-bottom: 4px;
}
h1.pagetitle a, h1.pagetitle a:hover, h2.entry-title a, h2.entry-title a:hover {
	text-decoration: none;
}
.entry-content, h1.entry-title, h1.page-title, body.category div.post, body.archive div.post, body.search div.page, div.entry-utility {
	width: 95.454545%;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
body.category div.post, body.archive div.post, body.search div.page {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #486BBB;
}
body.category div.post:last-child, body.archive div.post:last-child, body.search div.page:last-child {
	padding-bottom: 0px;
	border-bottom-style: none;
}
div.entry-meta {
	font-size: 0.875em;
	font-style: italic;
	line-height: 1.1em;
	font-weight: normal;
}
a.rmore {
	color: #FFF;
	text-decoration: none;
	background-color: #990000;
	display: block;
	float: right;
	font-size: 0.75em;
	line-height: 1em;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	margin: 0px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-image: url(../images/btn_gradient.png);
	background-repeat: repeat-x;
	background-size:100% 100%;
}
a.rmore:hover {
	background-color: #486BBB;
}

/* Media Alignment */
.alignright {
	float: right;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 8px;
	padding-left: 8px;
}
.alignleft {
	float: left;
	padding-top: 0px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 0;
}
.clear_left {
	clear: left;
}
.clear_right {
	clear: right;
}
.clear_both {
	clear: both;
}
.clear_none {
	clear: none;
}
.clear_all {
	display: block;
	clear: both;
	width: 100%;
	height: 0.01px;
	margin: 0px;
	padding: 0px;
}
.nowrap {
	white-space: nowrap;
}


/* Mobile Layout: 640px and below. */

#white_wrap, #mw_footer {
	display: block;
	width: 95.833333%;
	background-color: #FFF;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	-o-transition: width 1s;
	-ms-transition: width 1s;
	-moz-transition: width 1s;
	-webkit-transition: width 1s;
	transition: width 1s;
}
header {
	display: block;
	clear: both;
	width: 95.6522%;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	background-color: #990000;
	background: -o-linear-gradient(#720600, #990000);
	background: -ms-linear-gradient(#720600, #990000);
	background: -moz-linear-gradient(#720600, #990000);
	background: -webkit-linear-gradient(#720600, #990000);
	background: linear-gradient(#720600, #990000);
}
.residential header {
	background-color: #4B711C;
	background: -o-linear-gradient(#3E5800, #4B711C);
	background: -ms-linear-gradient(#3E5800, #4B711C);
	background: -moz-linear-gradient(#3E5800, #4B711C);
	background: -webkit-linear-gradient(#3E5800, #4B711C);
	background: linear-gradient(#3E5800, #4B711C);
}
#commsrv_logo {
	background-color: #FFF;
	display: block;
	margin: 0px;
	float: left;
	width: 48.8636%;
	max-width: 100%;
	padding-top: 0px;
	padding-right: 2.2727273%;
	padding-bottom: 0px;
	padding-left: 0px;
}
#commsrv_logo a {
	display: block;
}
#menu_btn {
	float: right;
	margin-top: 4px;
	margin-right: 10px;
}
#badges_small {
	padding: 10px;
}
#badges_full {
	display: none;
	padding: 10px;
	max-height: 60px;
	text-align: right;
}
#badges_full img {
	max-height: 70px;
	margin-left: 15px;
    float:left;
}
#nav_contact {
	display: none;
	background-color: #486BBB;
	height: 100%;
	width: auto;
	min-width: 50%;
	max-width: 70%;
	padding-top: 20px;
	padding-right: 4%;
	padding-bottom: 50px;
	padding-left: 4%;
	overflow: auto;
	position: absolute;
	position: fixed;
	z-index: 999999;
	left: -100%;
	top: 0px;
	-o-box-shadow: inset 0 0 6px 0px #000000;
	-ms-box-shadow: inset 0 0 6px 0px #000000;
	-moz-box-shadow: inset 0 0 6px 0px #000000;
	-webkit-box-shadow: inset 0 0 6px 0px #000000;
	box-shadow: inset 0 0 6px 0px #000000;
}
#menu_close {
	color: #FFF;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1em;
	font-weight: bold;
	background-color: #720600;
	padding: 6px;
	position: absolute;
	top: 0px;
	right: 0px;
	-o-border-bottom-left-radius: 6px;
	-ms-border-bottom-left-radius: 6px;
	-moz-border-bottom-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
a#menu_close {
	color: #FFF;
	text-decoration: none;
}
a#menu_close:hover {
	color: #000000;
	text-decoration: none;
}
nav {
	display: block;
	width: 100%;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
nav #main_menu ul.menu {
	display: block;
	width: 100%;
	list-style: none;
	padding: 0px;
	margin: 0px;
}
nav #main_menu .menu li {
	display: block;
	text-align: left;
	margin: 0px;
	padding: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #720600;
}
nav #main_menu .menu li:first-child {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #720600;
}
nav #main_menu .menu-item a {
	display: block;
	font-size: 1em;
	line-height: 1em;
	text-decoration: none;
	color: #FFFFFF;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	margin: 0px;
	text-transform: uppercase;
}
nav #main_menu .menu-item a:hover {
	color: #CCCCCC;
}
nav #main_menu .menu ul {
	display: block;
	width: 90%;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10%;
}
nav #main_menu .menu ul li:last-child {
	border-bottom-style: none;
}
nav #main_menu .menu ul li a {
}
nav #main_menu .menu ul ul {
	display: none;
}
nav #main_menu ul.menu .current-menu-item > a,
nav #main_menu ul.menu .current-menu-ancestor > a,
nav #main_menu ul.menu .current_page_item > a,
nav #main_menu ul.menu .current-page-ancestor > a,
nav #main_menu ul.menu .current-post-ancestor > a {
	color: #000000;
}
#contact_box {
	color: #FFF;
}
#contact_box a {
	color: #FFF;
}
#contact_box a:hover {
	color: #FFF;
}
.top_pad {
	height: 10px;
}
#contact_email, #contact_phone_address {
	padding-bottom: 10px;
}
#email_label, #contact_phone_address {
	text-transform: uppercase;
}
#email_label {
	font-size: 0.75em;
	line-height: 1em;
	font-weight: bold;
}
#address_break {
	text-indent: -9999px;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 0.01px;
	width: 100%;
}
#container {
	clear: both;
	width: 95.6522%;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#content {
	display: block;
	margin: 0px;
	float: right;
	width: 100%;
	min-height: 300px;
	background-color: #CCD4DD;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
}
#container .residential {
	background-color: #B6C697 !important;
}


/* Home Styles */
#portal_wrap {
	margin: 0px;
	width: 100%;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
}
#portal_wrap_left {
    float:left;
    width:49%;
    height:411px;
    border-radius:5px;
}
#portal_wrap_left p {
    color: black;
    position: relative;
    left: 47px;
    bottom:10px;
    width: 100%;
    text-align: center;
    line-height: 22px;
    font-size: 18px;
    margin-bottom:3px;
    left:0;
}
#portal_wrap_right {
    float:right;
    width:49%;
}
#portal_wrap_left .two {
    float:left;
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}
#portal_wrap_left .two img {
    width:285px;
    margin:0 0 0 17%;
    height:auto;
}
#portal_wrap_left .two .bottom {
    float:left;
    width:100%;
    margin-top:14px;
}
#portal_wrap_left .two .bottom .right {
    float:right;
    width:24%;
    margin-top:29px;
}
#portal_wrap_left .two .bottom .right a {
    color:white;
    text-align:center;
    padding:5px 10px;
    background:#08529a;
    border-radius:2px;
    text-decoration:none;
    font-weight:800;
    font-size:14px;
}
#portal_wrap_left .two .bottom .left {
    float:left;
    width:54%;
}
#portal_wrap_left .two .bottom .left p {
    width:100%;
    color:#08529a;
    font-size:22px;
    text-align:left;
    line-height:19px;
    left:20px;
}
#hvac_portal {
	width: 100%;
	padding: 0px;
	position: relative;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#plumbing_portal {
	width: 100%;
	margin: 0px;
	padding: 0px;
	position: relative;
}
.portal_title {
	font-size: 1.875em;
	/*font-size: 2.25em;*/
	line-height: 1em;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	position: absolute;
	left: 10px;
	bottom: 35px;
	width: 96%;
	-o-text-shadow: 2px 2px 3px #333333;
	-ms-text-shadow: 2px 2px 3px #333333;
	-moz-text-shadow: 2px 2px 3px #333333;
	-webkit-text-shadow: 2px 2px 3px #333333;
	text-shadow: 2px 2px 3px #333333;
}
.portal_menu {
	position: absolute;
	width: 90%;
	padding-top: 10px;
	padding-right: 2%;
	padding-bottom: 10px;
	padding-left: 12px;
	left: 0px;
	bottom: 4px;
	font-size: 0.875em;
	line-height: 1em;
}
.portal_menu ul.menu {
	margin: 0px;
	padding: 0px;
	width: 100%;
	list-style-type: none;
}
.portal_menu ul.menu li {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
.portal_menu ul.menu li:first-child {
	margin-right: 6px;
	padding-right: 10px;
    border-right:1px solid white;
}
.portal_menu ul.menu li a {
	color: white;
	text-decoration: none;
    font-weight:800;
    font-size:17px;
    text-transform:uppercase;
}
.portal_menu ul.menu li a:hover {
	color: white;
	text-decoration: underline;
}

#specials_wrap {
	width: 96.6666666%;
	margin: 0px;
	background-color: #CCD4DD;
	padding-top: 10px;
	padding-right: 1.6666667%;
	padding-bottom: 10px;
	padding-left: 1.6666667%;
	min-height: 120px;
}
#specials_left {
	width: 100%;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#specials_right {
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.special_wrap {
	width: 49.137931%;
}
#special1, #special3 {
	float: left;
}
#special2, #special4 {
	float: right;
}

h1#home_title {
	font-size: 1.75em;
	line-height: 1.2em;
	font-weight: 100;
    text-align:center;
}
#home_bullet_list {
	margin-bottom: 20px;
}
#home_bullet_list ul.home_bullets {
	width: 96%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 4%;
	margin: 0px;
}
#home_bullet_list ul.home_bullets li {
	width: 100%;
	margin: 0px;
	padding: 0px;
}


#home_logos {
	height: auto;
}
#home_spec_btns {
	margin-bottom: 10px;
}
#online_payment_btn {
	text-align: center;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#res_finance {
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.home_spec_btn a {
	font-weight: bold;
	color: white;
	background-color: #00287b;
	display: block;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-size: 1.3125em;
	border: 1px solid #333;
}
.home_spec_btn a:hover {
	background-color: #75AA00;
	color: #FFF;
    /* for the hay of it */
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}








/* Subnavigation */
nav #sub_menu ul.menu {
	display: block;
	width: 100%;
	list-style: none;
	margin: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	border-bottom-width: 6px;
	border-bottom-style: solid;
	border-bottom-color: #768BA3;
}
.residential nav #sub_menu ul.menu {
	border-bottom-color: #829A59;
}
nav #sub_menu .menu li {
	display: inline-block;
	text-align: left;
	margin: 0px;
	padding: 0px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #333333;
}
nav #sub_menu .menu li:last-child {
	border-right-style: none;
}
nav #sub_menu .menu-item a {
	display: block;
	font-size: 0.875em;
	line-height: 1em;
	text-decoration: none;
	color: #333333;
	margin: 0px;
	text-transform: uppercase;
	font-weight: 100;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
nav #sub_menu .menu-item:first-child a {
	padding-left: 10px;
}
nav #sub_menu .menu-item:last-child a {
	padding-right: 10px;
}
nav #sub_menu .menu-item a:hover {
	color: #990000;
}
nav #sub_menu .menu ul {
	display: none;
}
nav #sub_menu ul.menu .current-menu-item > a,
nav #sub_menu ul.menu .current-menu-ancestor > a,
nav #sub_menu ul.menu .current_page_item > a,
nav #sub_menu ul.menu .current-page-ancestor > a,
nav #sub_menu ul.menu .current-post-ancestor > a {
	color: #00287B;
}


nav#portal_menu ul.menu {
	display: block;
	width: 100%;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
nav#portal_menu .menu li {
	display: inline-block;
	text-align: left;
	margin: 0px;
	padding: 0px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #333333;
}
nav#portal_menu .menu li:last-child {
	border-right-style: none;
}
nav#portal_menu .menu-item a {
	display: block;
	font-size: 0.875em;
	line-height: 1em;
	text-decoration: none;
	color: #333333;
	margin: 0px;
	text-transform: uppercase;
	font-weight: 100;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
nav#portal_menu .menu-item:first-child a {
	padding-left: 10px;
}
nav#portal_menu .menu-item:last-child a {
	padding-right: 10px;
}
nav#portal_menu .menu-item a:hover {
	color: #990000;
}
nav#portal_menu .menu ul {
	display: none;
}
nav#portal_menu ul.menu .current-menu-item > a,
nav#portal_menu ul.menu .current-menu-ancestor > a,
nav#portal_menu ul.menu .current_page_item > a,
nav#portal_menu ul.menu .current-page-ancestor > a,
nav#portal_menu ul.menu .current-post-ancestor > a {
	color: #00287B;
}
#section_divider {
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom-width: 6px;
	border-bottom-style: solid;
	border-bottom-color: #768BA3;
}


#section_sidebar {
	display: block;
	padding: 0px;
	margin: 0px;
	float: left;
	width: 100%;
}
#division_header, #section_header {
	position: relative;
}
#division_header {
	float: left;
	width: 48%;
}
#section_header {
	float: right;
	width: 48%;
	text-align: right;
}
#portal_options #section_header {
	float: none;
	width: 100%;
	text-align: left;
}
#division_header img, #section_header img {
	display: none;
}
#portal_options #section_header img {
	display: inline;
}
#division_title, #section_title {
	font-size: 1.25em;
	line-height: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	color: #333333;
}
#portal_options #section_title {
	position: absolute;
	color: #FFF;
	width: 90%;
	left: 10px;
	bottom: 0px;
	-o-text-shadow: 2px 2px 3px #333333;
	-ms-text-shadow: 2px 2px 3px #333333;
	-moz-text-shadow: 2px 2px 3px #333333;
	-webkit-text-shadow: 2px 2px 3px #333333;
	text-shadow: 2px 2px 3px #333333;
	font-size: 1.875em !important;
}
#sidebar {
	display: block;
	padding: 0px;
	margin: 0px;
	float: left;
	width: 100%;
}
#sb_widgets ul.xoxo {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#sb_widgets ul.xoxo li {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#nav-below {
	clear: both;
	/*width: 100%;*/
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #000000;
	text-align: center;
	padding: 10px;
}
.nav-previous {
	float: left;
}
.nav-next {
	float: right;
}
#nav-below a {
	color: #FFF;
	text-decoration: none;
	background-color: #990000;
	display: inline-block;
	font-size: 0.75em;
	line-height: 1em;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	margin: 0px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-image: url(../images/btn_gradient.png);
	background-repeat: repeat-x;
	background-size:100% 100%;
}
#nav-below a:hover {
	background-color: #486BBB;
}
footer {
	display: block;
	padding: 0px;
	clear: both;
	width: 95.652174%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
#service_call_bar {
    background:url(../images/april_redfooter.png) no-repeat;
    height:175px;
}
#service_call_bar .left {
    float:left;
    width:30%;
    margin:31px 0 0 166px;
}
#service_call_bar .left .top {
    font-size:18px;
    color:white;
    float:left;
    margin:0 0 4px 0;
}
#service_call_bar .left .bottom {
    font-size:18px;
    color:white;
    float:left;
}
#service_call_bar .right {
    float:right;
    width:42%;
    font-weight:500;
    margin:1px 0 0 0;
}
#service_call_bar .right .one {
    font-size:15px;
    color:white;
    text-align:left;
    margin-top:20px;
}
#service_call_bar .right .two {
    font-size:15px;
    color:white;
    text-align:left;
}
#service_call_bar .right .three {
    font-size:15px;
    color:white;
    text-align:left;
}
.red_service {
	background-color: #990000;
	margin-top: 140px;
}
.green_service {
	background-color: #4B711C;
	margin-top: 100px;
}
#service_image {
	position: relative;
}
.red_service #service_image {
	height: 77px;
}
.green_service #service_image {
	height: 98px;
}
#service_image img {
	position: absolute;
	left: 50%;
}
.red_service #service_image img {
	top: -140px;
	margin-left: -145px;
}
.green_service #service_image img {
	top: -100px;
	margin-left: -68px;
}
#service_left {
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom-width: 2px;
	border-bottom-style: dashed;
	border-bottom-color: #FFF;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
#service_right {
	padding-bottom: 20px;
	padding-top: 20px;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
#footer_decription {
	font-size: 0.625em;
	line-height: 1.2em;
	margin-bottom: 20px;
	padding-top: 20px;
}
#contact_footer {
	font-size: 0.875em;
	line-height: 1.2em;
	margin-bottom: 20px;
}
#footer_logos, #home_logos {
	padding-bottom: 20px;
}
#home_logos img {
	margin-right: 10px;
}
#mw_footer {
	text-align: center;
	background-color: transparent !important;
	font-size: 0.75em;
	line-height: 1.1em;
	padding-top: 20px;
}
#mwtext {
	padding-top: 10px;
	padding-bottom: 20px;
}



.plumbing_bullets {
	display: inline-block;
	padding-left: 15px;
	margin-top: 0px;
}

.red_phone {
	font-size: 2em;
	line-height: 1em;
	font-weight: bold;
	color: #990000;
	text-align: center;
}



/* Tablet Layout: 481px to 641px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
#white_wrap, #mw_footer {
	width: 96.875%;
}
header, #container, footer {
	width: 96.774194%;
}
a#commsrv_logo {
	width: 49.166667%;
	padding-right: 1.6666667%;
}
.entry-content, h1.entry-title, h1.page-title, body.category div.post, body.archive div.post, body.search div.page, div.entry-utility {
	width: 96.666667%;
}
#home_bullet_list ul.home_bullets {
	width: 97%;
	padding-left: 3%;
}
}


/* Tablet Layout: 641px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 641px) {
#white_wrap, #mw_footer {
	width: 97.395833%;
}
header, #container, footer {
	width: 97.326203%;
}
header, .residential header {
	background: none;
}
#commsrv_logo {
	width: 47.208791%;
	padding-right: 0%;
}
#nav_contact {
	display: block;
	position: static;
	clear: none;
	background-color: transparent;
	padding: 0px;
	height: auto;
	width: 100%;
	max-width: 100%;
	min-width: none;
	overflow: visible;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#menu_btn, #menu_close {
	display: none;
}

#badges_small {
	display: none;
}
#badges_full {
	display: block;
}


nav.red_bg {
	width: 57.4176%;
	float: right;
	background-color: #990000;
	background: -o-linear-gradient(#720600, #990000);
	background: -ms-linear-gradient(#720600, #990000);
	background: -moz-linear-gradient(#720600, #990000);
	background: -webkit-linear-gradient(#720600, #990000);
	background: linear-gradient(#720600, #990000);
	position: relative;
    height:162px;
}
nav.green_bg {
	width: 57.4176%;
	float: right;
	background-color: #4B711C;
	background: -o-linear-gradient(#3E5800, #4B711C);
	background: -ms-linear-gradient(#3E5800, #4B711C);
	background: -moz-linear-gradient(#3E5800, #4B711C);
	background: -webkit-linear-gradient(#3E5800, #4B711C);
	background: linear-gradient(#3E5800, #4B711C);
	position: relative;
    height:162px;
}
nav #main_menu {
	position: absolute;
	bottom: 10px;
	width: 100%;
}
nav #main_menu ul.menu {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}
nav #main_menu .menu li {
	display: inline-block;
	position: relative;
	text-align: center;
	margin-right: 2.5%;
	border-bottom-style: none;
}
nav #main_menu .menu li:first-child {
	border-top-style: none;
}
nav #main_menu .menu li:last-child {
	margin-right: 0%;
}
nav #main_menu .menu-item a {
	color: #FFFFFF;
	font-size: 0.75em;
	line-height: 1em;
	font-weight: bold;
	text-decoration: none;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	padding-bottom: 6px;
}
nav #main_menu .menu-item:hover {
	border-bottom-color: #CCCCCC;
}
nav #main_menu .menu ul {
	display: none;
	width: auto;
	position: absolute;
	z-index: 100;
	left: 0px;
	top: 100%;
	background-color: #486BBB;
	padding: 0px;
	margin: 0px;
	border: 1px solid #FFF;
}
nav #main_menu .menu ul li {
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}
nav #main_menu .menu ul li a {
	padding: 10px;
	white-space: nowrap;
	border-bottom-style: none;
}
nav #main_menu .menu ul .menu-item:hover {
	border-bottom-color: #FFFFFF;
}
nav #main_menu .menu ul ul {
	display: none;
}
nav #main_menu ul.menu li:hover ul.sub-menu {
	display: block;
}
nav #main_menu ul.menu li:hover ul.sub-menu ul {
	display: none;
}
nav #main_menu ul.menu .current-menu-item > a,
nav #main_menu ul.menu .current-menu-ancestor > a,
nav #main_menu ul.menu .current_page_item > a,
nav #main_menu ul.menu .current-page-ancestor > a,
nav #main_menu ul.menu .current-post-ancestor > a {
	color: #9EAFC2;
	border-bottom-color: #9EAFC2;
}
nav #main_menu ul.menu ul .current-menu-item > a,
nav #main_menu ul.menu ul .current-menu-ancestor > a,
nav #main_menu ul.menu ul .current_page_item > a,
nav #main_menu ul.menu ul .current-page-ancestor > a,
nav #main_menu ul.menu ul .current-post-ancestor > a {
	color: #000000;
}


#contact_box {
	background-color: #486BBB;
	background: -o-linear-gradient(#385194, #486BBB);
	background: -ms-linear-gradient(#385194, #486BBB);
	background: -moz-linear-gradient(#385194, #486BBB);
	background: -webkit-linear-gradient(#385194, #486BBB);
	background: linear-gradient(#385194, #486BBB);
	clear: both;
	border-top-width: 10px;
	border-top-style: solid;
	border-top-color: #FFF;
	width: 97.252747%;
	padding-right: 1.3736264%;
	padding-left: 1.3736264%;
    height:162px;
}
#contact_email {
	float: left;
	width: 48%;
}
#contact_phone_address {
	text-align: right;
	float: right;
	width: 48%;
}
#email_label {
	font-size: 0.916667em;
	line-height: 1.2em;
}
#email_addy {
	font-size: 0.75em;
	line-height: 1em;
}
#phonenumber {
	font-size: 1.125em;
	line-height: 1.1em;
}
#phonenumber a {
	text-decoration: none;
}
#address {
	font-size: 0.75em;
	line-height: 1.1em;
}
#address_break {
	text-indent: 0px;
	display: inline;
	height: auto;
	width: auto;
}
.entry-content, h1.entry-title, h1.page-title, body.category div.post, body.archive div.post, body.search div.page, div.entry-utility {
	width: 97.252747%;
}


#hvac_portal {
	float: right;
	width: 100%;
	margin-bottom: 9px;
}
#plumbing_portal {
	float: right;
	width: 100%;
}
#specials_wrap {
	width: 97.2527472%;
	padding-right: 1.3736264%;
	padding-left: 1.3736264%;
}
#specials_left {
	width: 49.293785%;
	float: left;
	margin-bottom: 0px;
}
#specials_right {
	width: 49.293785%;
	float: right;
}
.special_wrap {
	width: 48.563218%;
}
#division_title, #section_title {
	font-size: 1.5em;
	line-height: 1.1em;
}
#service_call_bar {
	padding-bottom: 0px;
	padding-top: 20px;
	margin-bottom: -5px;
	margin-top: 8px;
}
.red_service {
	margin-top: 30px;
}
.green_service {
	margin-top: 80px;
}
#service_image {
	display: block;
	float: left;
	width: 30%;
}
.red_service #service_image {
	height: 10px;
}
.green_service #service_image {
	height: 10px;
}
#service_image img {
}
.red_service #service_image img {
	top: -30px;
	margin-left: -45%;
}
.green_service #service_image img {
	top: -80px;
}
#service_left {
	display: block;
	float: left;
	width: 30%;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 1.5%;
	padding-left: 1.5%;
	margin-right: opx;
	margin-left: 0px;
	border-bottom-style: none;
	border-right-width: 2px;
	border-right-style: dashed;
	border-right-color: #FFF;
}
#service_right {
	display: block;
	float: left;
	width: 30%;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 1.5%;
	padding-left: 1.5%;
	margin-right: 0%;
	margin-left: 0px;
}


/* Column Styles */
.two_col_left {
	float: left;
	width: 48%;
}
.two_col_right {
	float: right;
	width: 48%;
}
.three_col_left {
	float: left;
	width: 30%;
	margin-right: 5%;
}
.three_col_middle {
	float: left;
	width: 30%;
}
.three_col_right {
	float: right;
	width: 30%;
}
#home_bullet_list ul.home_bullets {
	width: 46%;
	padding-left: 2%;
	float: left;
	margin-right: 2%;
}
#online_payment_btn {
	float: left;
	width: 48%;
	margin-bottom: 0px;
}
#res_finance {
	float: right;
	width: 48%;
}
span.edit-link {
	margin: 0px;
	padding: 0px;
	clear: both;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
#white_wrap, #mw_footer {
	width: 97.916667%;
	max-width: 960px;
}
header, #container, footer {
	width: 97.916667%;
}
#commsrv_logo {
	width: 48.9149%;
	margin-right: 1.0638298%;
}
#nav_contact {
	width: 48.021277%;
	display: block;
	float: right;
}
nav.red_bg, nav.green_bg {
	width: 67.634921%;
	float: left;
    margin-left:11px;
}
#contact_box {
	width: 25.603%;
	padding-left: 1.5873016%;
	padding-right: 1.5873016%;
	clear: none;
	border-top-style: none;
	float: right;
}
#contact_email {
	float: none;
	width: 100%;
}
#contact_phone_address {
	text-align: left;
	float: none;
	width: 100%;
}
.angieimg img {
    width:127px;
    margin:0 0 0 3px;
}
#address_break {
	text-indent: -9999px;
	display: block;
	height: 0.01px;
	width: 100%;
}
#content {
	width: 67.021277%;
}
#hvac_portal, #plumbing_portal { /* duplicate */
	width: 100%;
}
#specials_wrap {
	width: 97.8723404%;
	padding-right: 1.0638298%;
	padding-left: 1.0638298%;
}
#specials_left, #specials_right {
	width: 49.456522%;
}
.special_wrap {
	width: 48.901099%;
}
#home_bullet_list ul.home_bullets {
	width: 21%;
	padding-left: 2%;
	margin-right: 2%;
}
.entry-content, h1.entry-title, h1.page-title, body.category div.post, body.archive div.post, body.search div.page, div.entry-utility {
	width: 96.825397%;
}
#sidebar, #section_sidebar {
	width: 31.914894%;
}
#division_header, #section_header {
	float: none;
	width: 100%;
	text-align: left;
	margin-bottom: 10px;
}
#division_header img, #section_header img {
	display: inline;
}
#division_title, #section_title,#portal_options #section_title {
	position: absolute;
	color: #FFF;
	width: 90%;
	left: 10px;
	bottom: 0px;
	-o-text-shadow: 2px 2px 3px #333333;
	-ms-text-shadow: 2px 2px 3px #333333;
	-moz-text-shadow: 2px 2px 3px #333333;
	-webkit-text-shadow: 2px 2px 3px #333333;
	text-shadow: 2px 2px 3px #333333;
	font-size: 1.25em;
}
.red_service #service_image img {
	top: -40px;
	margin-left: -45%;
}
.green_service #service_image img {
	top: -80px;
}
}

@media only screen and (min-width: 900px) {
.red_service #service_image img {
	top: -80px;
}
.green_service #service_image img {
	top: -80px;
}
}

/* Portrait iPhone */
@media only screen and (min-width:320px) and (max-width:978px) {
    #portal_wrap_left, #hvac_portal, #plumbing_portal, #portal_wrap_right {
        width:100%;
    }
    #portal_wrap_left {
        height:326px;
    }
    #portal_wrap_left p {
        font-size:.9em;
        line-height:1em;
        left:30px;
        bottom:138px;
    }
    #portal_wrap_left {
        width:100%;
        height:100%;
        float:left;
    }
    #portal_wrap_left p {
        bottom:0;
        font-size:1.1em;
        left:0;
        margin-bottom:10px;
    }
    #portal_wrap #portal_wrap_right #hvac_portal img, #portal_wrap #portal_wrap_right #plumbing_portal img {
        width:100%;
        display:block;
    }
    #portal_wrap_left .two .bottom {
        margin-bottom:20px;
    }
}

/* iPad : Portrait */
@media only screen and (min-width:768px) and (max-width:1024px) {
    #service_call_bar {
        background-size:100%;
    }
}


@media only screen and (min-width:320px) and (max-width:801px) {
    .twentyfourseven {
        position:relative;
        width:110px;
        height:93px;
        margin:0 auto;
        padding:0;
        top:-43px;
    }
    #service_call_bar {
        background:red;
        width:100%;
        border-radius:7px;
        background-image:none;
        background-color:#B40A2A;
        height:100%;
        padding-bottom:10px;
        float:left;
        margin:45px 0 10px 0;
    }
    #service_call_bar .left, #service_call_bar .left, #service_call_bar .left .top, #service_call_bar .left .bottom,  #service_call_bar .right, #service_call_bar .right .one, #service_call_bar .right .two, #service_call_bar .right .three {
        width:100%;
        margin:0;
        text-align:center;
    }
    #portal_wrap_left .two img {
        width:100%;
        display:block;
        margin:0;
    }
    #portal_wrap_left .two .bottom .right {
        width:100%;
        margin-top:20px;
        float:left;
        font-size:1.2em;
    }
}

@media only screen and (min-width:802px) {
    #service_call_bar {
    background-size:100%;
    }
    #service_call_bar .left .twentyfourseven {
    display:none;
    }
}

@media only screen and (min-width:802px) and (max-width:927px) {
    #service_call_bar .left {
        margin-top:21px;
    }
    #service_call_bar .right .one {
        margin-top:13px;
    }
}

@media only screen and (min-width:320px) and (max-width:802px) {
    #portal_wrap_left .two .bottom .left {
        width:auto;
        float:none;
    }
    #portal_wrap_left .two .bottom .left p {
        width:100%;
        text-align:center;
        left:0;
    }
    #portal_wrap_left .two .bottom .right {
        width:100%;
    }
}

@media only screen and (min-width:320px) and (max-width:978px) {
    #portal_wrap_left img {
        width:100%;
        height:auto;
    }
    #portal_wrap_left .two .bottom .right a {
        width:97%;
        float:left;
        right:5px;
    }
    #portal_wrap_left .two img {
        width:100%;
        display:block;
        margin:0;
    }
    #portal_wrap_left .two .bottom .right {
        margin-right:10px;
    }
}

@media only screen and (max-width:768px) {
    nav.red_bg {
        width:51.418%;
    }
    #badges_full img {
        width:auto;
    }
}

@media only screen and (min-width:640px) and (max-width:960px) {
    #badges_full .angies img {
        width:40%;
    }
}

@media only screen and (min-width:785px) and (max-width:905px) {
    #badges_full .angies img {
        width:30%;
    }
}

@media only screen and (min-width:769px) and (max-width:784px) {
    #badges_full .angies img {
        width:20%
    }
}