/*
Theme Name: commsrv
Description: Used to style the TinyMCE editor.
*/

body {
	font-size: 16px;
	line-height: 1.25em;
	font-family: Helvetica, Arial, sans-serif;
}
div {
	border: 1px dashed #CCC;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
h1 {
	font-size: 2em;
	line-height: 1.1em;
}
h2 {
	font-size: 1.8em;
	line-height: 1.1em;
}
h3 {
	font-size: 1.6em;
	line-height: 1.1em;
}
h4 {
	font-size: 1.4em;
	line-height: 1.1em;
}
h5 {
	font-size: 1.2em;
	line-height: 1.1em;
}
h6 {
	font-size: 1em;
	line-height: 1.1em;
}
.clear_left {
	clear: left;
}
.clear_right {
	clear: right;
}
.clear_both {
	clear: both;
}
.clear_none {
	clear: none;
}
.two_col_left {
	float: left;
	width: 48%;
}
.two_col_right {
	float: right;
	width: 48%;
}
.three_col_left {
	float: left;
	width: 30%;
	margin-right: 5%;
}
.three_col_middle {
	float: left;
	width: 30%;
}
.three_col_right {
	float: right;
	width: 30%;
}
.team_three_col_left {
	float: left;
	width: 30%;
	margin-right: 5%;
}
.team_three_col_middle {
	float: left;
	width: 30%;
}
.team_three_col_right {
	float: right;
	width: 30%;
}
.home_bullets {
	width: 21%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 2%;
	float: left;
	margin-top: 0px;
	margin-right: 2%;
	margin-bottom: 0px;
	margin-left: 0px;
}
.plumbing_bullets {
	display: inline-block;
	padding-left: 15px;
	margin-top: 0px;
}
.red_phone {
	font-size: 2em;
	line-height: 1em;
	font-weight: bold;
	color: #990000;
	text-align: center;
}